<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/silverstripe/cms/tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="recipe-collaboration">
            <directory>vendor/silverstripe/contentreview/tests</directory>
            <directory>vendor/silverstripe/sharedraftcontent/tests</directory>
            <directory>vendor/symbiote/silverstripe-advancedworkflow/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
